*{
    margin: 0;
    padding: 0;
    font-family: "Verdana", sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

/* ------------Header------------- */
#header{

}

.container {
    padding: 5px 5%;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 10%;
    height: 10%;
}

.sections li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.sections li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.sections a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #7436f2;
    /* background: #5E17EB; */
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.sections a:hover::after{
    width: 100%;
}

.contact a{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.contact a:hover {
    color: #7436f2;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 55px;
    margin-top: 20px;
}

.header-text span{
    color:#7436f2;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo {
    width: 30%;
    height: 30%;
    margin-top: 140px;
}

/* ------------About------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin: 80px 0;
}

.btn2{
    display: block;
    margin: 20px 0;
    width: fit-content;
    border: 1px solid #7436f2;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transform: background 0.5s;
    font-size: 14px;
}

.btn2:hover{
    background: #7436f2;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #7436f2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #7436f2;
    font-size: 16px;
}

.ubc {
    width: 5%;
    height: 5%;
    border-radius: 2.5px;
}

/* ------------Experience------------- */
#experience{
    padding: 30px 0;
}

.experience-list{
    display: grid;
    grid-template-columns: repeat(auoto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.experience-list div{
    background: #262626;
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    width: 100%;
    height: 75%;
}

.experience-list div img{
    border-radius: 25px;
    height: 30%;
    margin-bottom: 20px;
}

.experience-list div h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.experience-list div ul{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .experience-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
} */

.experience-list div:hover{
    background: #854ef4;
    transform: translateY(-10px);
}


/* ------------Skills------------- */
#skills{
    padding: 30px 0;
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div{
    padding: 40px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list div img{
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.skills-list div:hover{
    transform: translateY(-15px);
}



/* ------------projects------------- */
#projects{
    padding: 70px 0;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.project img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: tansform 0.5s;
}

/* .projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
} */

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), #7436f2);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;    
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 800;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    text-decoration: none;
    /* color: rgb(9, 9, 173); */
    color: #7436f2;
    font-size: 18px;
    line-height: 40px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #7436f2;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transform: background 0.5s;
}

.btn:hover{
    background: #7436f2;
}

/* ------------contact------------- */
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left a{
    margin: 10px;
    text-decoration: none;
}

.contact-left p{
    color: #ababab;
    font-size: 14px;
}

.contact-left p i{
    color:#7436f2;
    margin-right: 10px;
    font-size: 25px;
    
}

.btn.btn3{
    display: inline-block;
    background: #7436f2;
}

.contact-right form{
    width: 100%;
}

form input, textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
}

form .btn3{
    cursor: pointer;
    margin-top: 15px;
    padding: 14px 40px;
}


/*------------------css for small screens-------------------*/
/* nav [class=".fa-solid fa-xmark"]{
    display: none;
}

nav [class=".fa-solid fa-bars"]{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/Phone-Background.png);
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav [class=".fa-solid fa-xmark"]{
        display: block;
        font-size: 25px;
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav [class=".fa-solid fa-bars"]{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #7436f2;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }
} */

#msg{
    color: #2adcf8;
    margin-top: -40px;
    display: block;
}